h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 130%;
  color: rgba(54, 12, 91, 0.645);
  line-height: 280%;
}

body {
  background-color:rgb(68, 24, 118)
}

p {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 200;
  font-size: 100%;
  letter-spacing: 0.5px;
  line-height: 150%;
  color:rgb(81, 12, 145);
}


a:hover {
  color:rgb(161, 145, 204);
}

h2{
  font-family: 'Creepster', cursive;
  color: rgba(82, 34, 112, 0.645);
}
.container{
  width:550px;
  margin:0px auto;
}

.card{
  background-color:rgba(221, 216, 228, 0.95);
  padding:10px;
  box-shadow:0px 2px 30px rgba(4, 148, 64, 0.58);
  border-radius:65px;
  margin:30px 20px;
  text-align:center;
  border-image-width: 20px;
  border-image-source: url('https://png2.cleanpng.com/sh/0d6735169a4b5f4d392f53b3b3a67853/L0KzQYm3UsE6N6d3j5H0aYP2gLBuTflkd154jNN7LXnmf7A0hvF3d6NujNd8LXPvecHokwR0NWZmUNQANka6SYG7WMM1Nmc8S6o6NUi0QYa4WcA5OWE7S6cEMT7zfri=/kisspng-ico-star-icon-favorites-cliparts-5a8b5667904834.673815811519081063591.png');
}

.card-3{
  background-color:rgba(224, 211, 233, 0.888);
  padding:10px;
  box-shadow:0px 5px 20px rgba(3, 147, 49, 0.588);
  border-radius:10px;
  margin:30px 30px;
  text-align:center;
  border-image-width: 40px;
  border-image-source: url('https://png2.cleanpng.com/sh/0d6735169a4b5f4d392f53b3b3a67853/L0KzQYm3UsE6N6d3j5H0aYP2gLBuTflkd154jNN7LXnmf7A0hvF3d6NujNd8LXPvecHokwR0NWZmUNQANka6SYG7WMM1Nmc8S6o6NUi0QYa4WcA5OWE7S6cEMT7zfri=/kisspng-ico-star-icon-favorites-cliparts-5a8b5667904834.673815811519081063591.png');
}

.a_lewagon{
  color:rgb(80, 69, 126);
  font-size: 15px;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
  text-decoration-style: none;
}

.multicolortext {
  background-image: linear-gradient(to left, violet, indigo, green, blue, rgb(151, 151, 19), rgb(190, 126, 6), red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card2{
  background-color:rgba(224, 215, 236, 0.95);
  margin:15px 20px;
  padding:20px 10px;
  box-shadow:0px 10px 50px rgba(5, 125, 13, 0.1);
  border-radius:20px;
  border-style: dotted;
  border-spacing: 10px 20px;
  border-width: 4px;
  border-color: rgb(63, 210, 110);
  text-align:center;
}

.a_icon{
  font-size:40px;
  color:rgb(139, 97, 178);
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li{
  display: inline;
  padding:0px;
}

.img-circle {
  border-radius: 21px;
}

@media (max-width: 700px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 410px;
  }
}
